@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color:#003399;
    --primar-text-color:#0140FF;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}
body::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
}
header{
    width: 100vw;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 999;
    transition: background .5s ease-in-out;
}

header img{
    width: 70px;
    height: 50px;
    cursor: pointer;
}

header img:hover{
    filter: grayscale(90%);
}

header nav a {
    text-decoration: none;
    font-weight: 600;
    font-style: bold;
    color: lightgray;
    margin: 0px 20px;
    transition: 0.5s ease ease-in-out;
    
    
}


header nav a::after:hover{
    width: 100%;
}

header nav a:hover{
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    
}

section{
    height: 100vh;
 
}

.background-images{
    display: flex;
    z-index: -1;
}

.first-container{
    background-image: url(/img/img1.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
    filter: grayscale(40%);
    animation: changeBackgroundImage 40s infinite ease-in-out;   
}

@keyframes changeBackgroundImage {
    0%{
        background-image: url(/img/img1.jpg);
    }
    20%{
        background-image: url(/img/img2.jpg);
    }
    40%{
        background-image: url(/img/img3.jpg);
    }
    60%{
        background-image: url(/img/img4.jpg);
    }
    80%{
        background-image: url(/img/img5.jpg);
    }
    100%{
        background-image: url(/img/img1.jpg);
    }
}




.container-filter{
    height: 100%;
    width: 100%;
    background: black;
    z-index: 1;
    opacity: .5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



.first-sub-container{
    width: 100%;
    height: 100%;
    z-index: 22;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 100px;
    background: transparent;
    filter: brightness(1);
}

#first-title{
    display: flex;
    z-index: 99;
}

#second-title{
    display: none;
    z-index: 99;
}
#first-title, #second-title{
    display: none;
    z-index: 22;
    color: white;
    font-weight: 600;
    font-size: 60px;
    opacity: 1;
    text-align: start;
    filter: drop-shadow(0 0 5px black);
    transition: all .5s;    
    animation: popUp 1s ease-in-out;
    user-select: none;
    

}

@keyframes popUp{
    0%{
        transform: translatey(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

.second-container{
    
    display: flex;
    padding: 50px 100px;
    opacity: 1;
    filter: grayscale(0);
    background-color: white;

}

.left-container{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;


}

#destination{
    color: var(--primar-text-color);
    font-weight: 800;
    font-style: bold;
}

#destination-title{
    color: black;
    font-style: bold;
    font-weight: 800;
    font-size: 50px;
    margin-top: 30px;
    text-align: start;
}

#destination-description{
    color: black;
    font-size: 1.5rem;
    text-align: start;
    margin-top: 20px;
}

.second-container .left-container .discover-more-container{
    display: flex;
    margin-top: 100px;
    justify-content: start;
    align-items: center;
    cursor: pointer;
   
}

.second-container .left-container .discover-more-container i{
    font-size: 1.5rem;
    margin: 0px 10px;
    color: gray;
}

.second-container .left-container .discover-more-container:hover h3 a{
    text-decoration: none;
    color: gray;
 
}

#destination-more-info{
    color: gray;
    text-decoration: none;
}


.second-container .left-container .discover-more-container:hover #destination-more-info,
.second-container .left-container .discover-more-container:hover i{
    color: black;
}


.second-container .right-container{
    
    flex-basis: 50%;
    overflow: hidden;
}

.content-container{
    width: 100%;
    height: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    scroll-behavior: smooth;
}   


.second-container .right-container .content-container .item{
    min-width: 500px;
    height: 100%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: white;
 
    
  
}



.right-container .content-container .content-one .content-one-details,
.right-container .content-container .content-two .content-two-details,
.right-container .content-container .content-three .content-three-details,
.right-container .content-container .content-four .content-four-details,
.right-container .content-container .content-five .content-five-details{
    position: absolute;
    bottom: 0;
    left: 10%;
}

.right-container .content-container .content-one .content-one-details h1,
.right-container .content-container .content-two .content-two-details h1,
.right-container .content-container .content-three .content-three-details h1,
.right-container .content-container .content-four .content-four-details h1,
.right-container .content-container .content-five .content-five-details h1{
    font-size: 35px;
    filter: drop-shadow(0 0 .5px black);
  
}


.right-container .content-container .content-one .content-one-details h3 ,
.right-container .content-container .content-two .content-two-details h3 ,
.right-container .content-container .content-three .content-three-details h3 ,
.right-container .content-container .content-four .content-four-details h3 ,
.right-container .content-container .content-five .content-five-details h3 {
    color: white;
 
}

.right-container .content-container .content-one .content-one-details h3,
.right-container .content-container .content-two .content-two-details h3,
.right-container .content-container .content-three .content-three-details h3,
.right-container .content-container .content-four .content-four-details h3,
.right-container .content-container .content-five .content-five-details h3{
    margin-bottom: 80px;
}

.right-container .content-container .content-one{
    background-image: url("/img/MVUNITB.jpeg") ;
    position: relative;

}
.right-container .content-container .content-two{
    background-image: url("/img/img2.jpg");
    position: relative;
}

.right-container .content-container .content-three{
    background-image: url("/img/FRACERPLACE.png");
    position: relative;
}

.right-container .content-container .content-four{
    background-image: url("/img/img4.jpg");
    position: relative;
}

.right-container .content-container .content-five{
    background-image: url("/img/img5.jpg");
    position: relative;
}



.third-container{
    background-color:white;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.third-container .news-and-events-text{
    height: 30%;
    width: 100%;
}

.third-container .news-and-events-text h4{
    color: var(--primar-text-color);
}

.third-container .news-and-events-text h1{
    margin-top: 30px;
    font-size: 50px;
    width: 80%;
}

.third-container .news-and-events-container{
    width: 100%;
    height: 70%;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    scroll-behavior: smooth;
}

.third-container .news-and-events-container .context{
    display: flex;
    min-width: 350px;
    height: 400px;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s ease-in-out;
   
}

.third-container .news-and-events-container .context img{
    height: 70%;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.third-container .news-and-events-container .context:hover img  {
    filter: drop-shadow(0 0 2px black);
    
}

.third-container .news-and-events-container .context:hover{
    transform: translateY(-5px);
}

.third-container .news-and-events-container .context .details-container{
    height: 30%;
    width: 100%;
    text-align: start;
}

.third-container .news-and-events-container .context .details-container h3{
    margin-bottom: 20px;
}

.third-container .news-and-events-container .context .details-container h4{
    color: gray;
}


footer{
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}
.bottom-container {
    width: 100%;
    height: 25%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.top-container{
    width: 100%;
    height: 75%;
    display: flex;
}

.top-left-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: 20px;

}
.logo-content{
    width: 100%;
    height: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.logo-content img{
    width: 70px;
    height: 50px;

    
}
.logo-content p{
    color: white;
    font-size: 30px;
    font-weight: 800;
    font-style: bold;
    font-family: Domine;
    text-align: start;
    margin-left: 10px;
   

    
}

.social-media-content{
    flex: 1;
    display: flex;
}

.social-media-content a{
    text-decoration: none;
}

.social-media-content span{

    height: 40px;
    width: 40px;
    margin: 20px 10px;
    border: solid 1px white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.social-media-content span i{
    font-size: 20px;
    color: white;

}

.social-media-content span:hover{
    background-color: white;
   
}

.social-media-content span:hover i {
   color: black;
   
}



.rules-content{
    flex: 1;
    height: 33.3%;
    display: flex;
    flex-direction: column;
}



.rules-content a{
    color: gray;
    text-decoration: none;
    font-style: bold;
    font-weight: 500;
    margin: 10px 0px;
   
   
}

.rules-content a:hover{
    color: white;
}
.top-middle-container{
    flex: 1;
    padding: 20px;


}
.top-middle-container h1{
    color: white;
    text-align: start;
    margin: 0;
    
}

.top-middle-container .navigation-content h4 {
    margin: 10px 0px;

}
.top-middle-container .navigation-content h4 a{
    text-align: start;
    color: gray;
}

.top-middle-container .navigation-content h4 a:hover{
    color: white;
}

.top-middle-container h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-middle-container a{
    text-decoration: none;
    
}
#about-us{
    
}


.top-right-container{
    flex: 1;
    padding: 20px;
    color: white;
    margin-top: 20px;
    position: relative;
}
.top-right-container p{
    padding: 0;
    margin-top: 5px;
   
}
.top-right-container .our-offices {
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-self: center;
    
}

.top-right-container .our-offices:hover h4 a,
.top-right-container .our-offices:hover i{
    color: white;
}

.top-right-container .our-offices a{
    text-decoration: none;
    color: gray;
    
}

.top-right-container .our-offices i{
    margin-left: 10px;
    color: gray;
}

