@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color:#003399;
    --primar-text-color:#0140FF;
    --alternate-bg-color:#83A1DF;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
body{
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}
body::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
}


section{
    width: 100%;
    height: 100vh;
}

.header-container{
    width: 100%;
    height: 500px;
    background-color: black;
    position: relative;
    overflow: hidden;
    display: flex;
}

.logo-container{
    width: 570px;
    height: 520px;
    position:absolute;
    left: -120px;
    top: 0;
}

.logo-container img{
    width: 100%;
    height: 100%;
}

.logo-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Adjust the color as per your design */
    mix-blend-mode: hard-light;
    opacity: 0.5;
}

.header-title{
    height: 100%;
    width: 100%;
    color: white;
    margin-left: 500px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-title h1{
    font-size: 5rem;
}
.header-title p{
    font-size: 1.3rem;
}

.who-we-are-container{
   
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 100px;
  
}

.who-we-are-container :where(h1, p) {
    text-align: center;
}

.who-we-are-container h1{
    margin-bottom: 30px;
    font-size: 2.5rem;
    margin-top: 50px;
}

.mission-container{
    background-color: var(--alternate-bg-color);
    display: flex;
    height: auto;
}

.vision-container{
    display: flex;
    height: auto;
    background-color: white;
}

.mission-container .mission-image-container,
.vision-container .vision-image-container{
    flex-basis: 50%;
    padding: 80px 0px 80px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vision-container .vision-image-container{
    padding: 80px 100px 80px 0px;
}

.mission-container .mission-image-container img, .vision-container .vision-image-container img{
    width: 400px;
    height: 400px;
}

.mission-container .mission-description, .vision-container .vision-description{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 100px 80px 0px;
}
.vision-container .vision-description{
    padding: 80px 0px 80px 100px;
}

.mission-container .mission-description :where(h1, p),
.vision-container .vision-description :where(h1, p){
    text-align: start;
}



.mission-description h1,
.vision-description h1{
    margin-bottom: 30px;
    font-size: 2.5rem;
    margin-top: 50px;
   
}

.our-team-container{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.our-team-container h1{
    margin:50px 0px;
    font-size: 2.5rem;
   
}

.list-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    
 
}

.list-container .card{
    width: 550px;
    height: 200px;
    overflow: hidden;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;

}

.card .image-container{
    width: 200px;
    height: 200px;
    flex-basis: 40%;
    border-radius: 50%;
    overflow: hidden;

}

.card .profile-details{
    flex-basis: 60%;
}

.card .profile-details .position{
    margin-bottom: 20px;
    font-weight: 500;
    color: gray;
   
}

#see-more-btn{
    background-color: var(--primary-color);
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#see-more-btn:hover{
    opacity: .8;
    transform: translateY(-10px);
}



